<template name="HomePagePc">
{{>SectionPageNavbarPc}}
<div class='answer-wrap'>
	<div class="cantent-wrap">
	   {{>SectionPageHeadPc}}
		<div class="mian-content">
			<div class="home-page-title"></div> 
			<div class="sheep-img"></div>
			<div class='mian-intro all-small-fonts-style'>
			Take this fun quiz and share it with your friends on
			FACEBOOK for a chance to<br/>
			win a GIFT CODE for a rare in-game item!
			</div>
            {{#quizButton btnId="startQuizBtn" themeColor="green" customClass="btn-start-quiz" buttonContent="<p>START THE QUIZ</p>"}}{{/quizButton}}
		</div>
	</div>
</div>
{{>SectionPageFooter}}
</template>
