<template name="quizCompleteGetCodePc">
    <div class="share-container" id="rewardShareContainer">
        <div id="answerCompleteCode" class="code-number"></div>
        <p>Want more prizes? <br/>
            Share up this quiz for a chance to win exclusive rewards<br/>
            for you and your friends!</p>
        <div class="download-btn-box">
            {{#quizButton btnId="shareUpBtn" themeColor="green" customClass="pc-medium-btn" buttonContent="<p>SHARE UP</p>"}}{{/quizButton}}
            {{#quizButton btnId="appStoreBtn" themeColor="red" customClass="pc-small-btn" buttonContent="<p><a href='https://itunes.apple.com/app/id981481859' target='_blank'><img src='images/small/app_store.png' /></a></p>"}}{{/quizButton}}
        </div>
    </div>
</template>
