<template name="quizCompleteGetCodePc">
    <div class="share-container" id="rewardShareContainer">
        <div class="code-number">012203B25JE</div>
        <p>Want more prizes? <br/>
            Share up this quiz for a chance to win exclusive rewards<br/>
            for you and your friends!</p>
        <div class="download-btn-box">
            {{#quizButton btnId="shareUpBtn" themeColor="green" customClass="pc-btn-share-up" buttonContent="<p>SHARE UP</p>"}}{{/quizButton}}
            {{#quizButton btnId="appStoreBtn" themeColor="red" customClass="btn-app-store" buttonContent="<p><img src='/images/small/app_store.png' /></p>"}}{{/quizButton}}
        </div>
    </div>
</template>
