<template name="quizCompleteConnectPc">
    <div class="connect-container" id="rewardConnectContainer">
        <div class="code-number">************</div>
        <p>Connect to Facebook to REVEAL your Gift Code.
        </p>
        {{#quizButton btnId="connectBtn" themeColor="green" customClass="pc-large-btn" buttonContent="<p>CONNECT</p>"}}{{/quizButton}}
        <form id="connectToCodeForm" method="post" action="">
            <input type="hidden" id="getCode" value="" />
            <input type="hidden" id="getReferId" value="" />
        </form>
    </div>
</template>