<template name="SectionPageClaimPc">
{{>SectionPageNavbarPc}}
<div class='share-wrap'>
	<div class="cantent-wrap">
		{{>SectionPageHeadPc}}
		<div class="mian-content">
			<div class="fan interval"></div>
			<div class="claim-code-title"></div>
			<div class="treasure-chests"></div>
			<p class='firstclaim-text'>Please CONNECT to  your Facebook account </p>
			<div class="claim-connect-btn">
				{{#quizButton btnId="connect" themeColor="red" customClass="pc-large-btn" buttonContent="<p>CONNECT</p>"}}{{/quizButton}}
				</div>
				
				{{#quizButton btnId="startQuizBtn" themeColor="green" customClass="pc-large-btn" buttonContent="<p>TAKE THE QUIZ</p>"}}{{/quizButton}}
				
			
		</div>
	</div>
</div>
{{>SectionPageFooter}}
</template>