<template name="SectionPageGiftcodePc">
    <section id="claimCodeResult" style="display:none;">
        <div class="reward-content">
            <h1></h1>
            <div id='rewardPicture'></div>
            <h2 id='rewardDes'></h2>
        </div>
        <div class="code-number" id="claimCodeNumber"></div>
        {{#if hasGotFriendList}}
        {{>FriendGift}}
        {{/if}}
        <div class="download-btn-box">
            {{#quizButton btnId="shareUpBtn" themeColor="green" customClass="pc-medium-btn" buttonContent="<p>TAKE THE QUIZ</p>"}}{{/quizButton}}
            {{#quizButton btnId="appStoreBtn" themeColor="red" customClass="pc-small-btn" buttonContent="<p><a href='https://itunes.apple.com/app/id981481859' target='_blank'><img src='/images/small/app_store.png' /></a></p>"}}{{/quizButton}}
        </div>
    </section>
</template>