<template name="SectionPageGiftcodePc">
    {{>SectionPageNavbarPc}}
    <div class='share-wrap'>
        <div class="cantent-wrap">
            {{>SectionPageHeadPc}}
            <div class="main-content">
                <div class="fan"></div>
                <div class="reward-content">
                    <h1></h1>
                    <div id='rewardPicture' class="pouch-gold"></div>
                    <h2 id='rewardDes' class='pouch-gold'></h2>
            </div>
            <div class="code-number">012203B25JE</div>
            {{>FriendGift}}
            <div class="download-btn-box">
            {{#quizButton btnId="shareUpBtn" themeColor="green" customClass="pc-medium-btn" buttonContent="<p>TAKE THE QUIZ</p>"}}{{/quizButton}}
            {{#quizButton btnId="appStoreBtn" themeColor="red" customClass="pc-small-btn" buttonContent="<p><img src='/images/small/app_store.png' /></p>"}}{{/quizButton}}
        </div>
        </div>
    </div>
    </div>
    {{>SectionPageFooter}}
</template>