<template name="SectionPageAnswerPc">
{{>SectionPageNavbarPc}}
<div class='answer-wrap'>
	<div class="cantent-wrap">
	   {{>SectionPageHeadPc}}
		<div class="mian-content">
			<div class="home-page-title"></div> 
			<div class="sheep-img"></div>
			<div class="qustion-nav"><h2>QUESTION</h2></div>
			<div class="answer-content">
				<div class="answer-list">
					<h1>Q1</h1>
					<div class='qustion-title'>It’s time for gym class. What are you doing?</div>
					<ul>
						<li><span>A</span>Playing some team sports.</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
{{>SectionPageFooter}}
</template>
