<template name="SectionPageThanksPc">
{{>SectionPageNavbarPc}}
<div class='share-wrap'>
	<div class="cantent-wrap">
		{{>SectionPageHeadPc}}
		<div class="main-content">
				<div class="thanks-icon"></div>
				<p class='thanks-intro'>Thanks for sharing the quiz! Please<br/>
 check your shared post or more rewards!</p>
				<div class="download-btn-box">
					{{#quizButton btnId="appStoreBtn" themeColor="red" customClass="pc-small-btn" buttonContent="<p><img src='images/small/app_store.png' /></p>"}}{{/quizButton}}
					
				</div>
				
			
		</div>
	</div>
</div>
{{>VideoPopupPc}}
{{>SectionPageFooter}}
</template>