<template name="SectionPageRewardPc">
    {{>SectionPageNavbarPc}}
    <div class='share-wrap'>
        <div class="cantent-wrap">
            {{>SectionPageHeadPc}}
            <div class="main-content">
                <div class="fan"></div>
                <div class="reward-content">
                    <h1></h1>
                    <div id='rewardPicture' class="pouch-gold"></div>
                    <h2 id='rewardDes' class='pouch-gold'></h2>
                </div>
                {{#if isFBLoaded}}
                    {{>yield 'quizComplete'}}
                {{/if}}
                <!--<div class="connect-container loading"></div>-->
            </div>
        </div>
    </div>
    {{>VideoPopupPc}}
    {{>SectionPageFooter}}
</template>