<template name="SectionPageNorewardsPc">
{{>SectionPageNavbarPc}}
<div class='noreward-wrap'>
	<div class="cantent-wrap">
		{{>SectionPageHeadPc}}
		<div class="mian-content">
			<h1 class='too-late-title'></h1>
			<p class='onreward-text'>All the codes have been claimed by your friends.<br/>
				If you want another chance to win,<br/>
			TAKE THE QUIZ!</p>
			 <div class="download-btn-box">
            {{#quizButton btnId="shareUpBtn" themeColor="green" customClass="pc-medium-btn" buttonContent="<p>TAKE THE QUIZ</p>"}}{{/quizButton}}
            {{#quizButton btnId="appStoreBtn" themeColor="red" customClass="pc-small-btn" buttonContent="<p><a href='https://itunes.apple.com/app/id981481859' target='_blank'><img src='/images/small/app_store.png' /></a></p>"}}{{/quizButton}}
        </div>
        <div class="see-code">
			<h6>See what your friends get:</h6>
			<div>
				<table border="0" cellpadding="0" cellspacing="0" class="code-list">
					<tbody>
                    {{#if hasGotFriendList}}
                        {{#each friendListInfo}}
						<tr>
							<td class='friend-name'><span>{{name}} </span></td>
							<td class="received">received: </td>
							<td class='gift-name'><label>{{item}}</label></td>
						</tr>
                        {{/each}}
                    {{/if}}
					</tbody>
				</table>
			</div>
		</div>
		</div>
	</div>
</div>
{{>VideoPopupPc}}
{{>SectionPageFooter}}
</template>