<template name="SectionPageNavbarPC">
<div class="pc-nav"> <a href="http://www.fedeen.com/" class="fedeen">
          <p>fedeen</p>
        </a>
        <div class="other-share"> <a href="https://www.facebook.com/forsakenworldmobile" target="_blank" class='facebook'>
            <p>Facebook</p>
            </a> <a href="https://twitter.com/forsakenmobile" target="_blank" class="twitter">
            <p>Twitter</p>
            </a> <a  href="https://www.youtube.com/playlist?list=PLGz7Ox5FffaefluYnb2AnJwB_-TKs8HSm" class='youtube'>
            <p>YouTube</p>
            </a> <a href="http://forum.fedeen.com/viewforum.php?f=1&sid=0cfedf0e96b8655a53228adef323a865" class="forun">
            <p>Forum</p>
            </a> <a href="https://fedeen.helpshift.com/a/forsaken-world/" target="_blank" class='support'>
            <p>Support</p>
        </a> </div>
      </div>
  </template>