<template name="SectionPageNavbarPc">
    <div class="pc-nav"><a href="http://www.fedeen.com/" class="fedeen">
        <p>fedeen</p>
    </a>

        <div class="other-share">
            <a href="https://www.facebook.com/cairostale" target="_blank" class='facebook'>
                <p>Facebook</p>
            </a>
            <a href="https://twitter.com/cairostale" target="_blank" class="twitter">
                <p>Twitter</p>
            </a>
            <a href="https://www.youtube.com/watch?v=8IMcjUVo-jM&index=7&list=PLGz7Ox5Fffae8Bt-3tlITi0kP2dQJZXfS" class='youtube'>
                <p>YouTube</p>
            </a>
            <a href="http://forum.fedeen.com/viewforum.php?f=3&sid=4741fc6562e56715e85e50973b53436f" class="forun">
                <p>Forum</p>
            </a>
            <a href="https://fedeen.helpshift.com/a/cairo-s-tale/
" target="_blank" class='support'>
                <p>Support</p>
            </a>
        </div>
    </div>
</template>
