.mobile-container{
	width: 100%;
	margin: auto;
	min-height: 1200px;

}
.mobile-container .answer-wrap{
	width: 100%;
	background:url("images/medium/mobile_question_page_bg.jpg") no-repeat center top;

}
.reuslt-wrap{
	width: 100%;
	background:url("images/medium/mobile_result_page_bg.jpg") no-repeat center top;

}

.mobile-container .main-content{
	width: 100%;
	margin: auto;
	padding-bottom: 60px;
}
.mobile-container .main-content > section{
	position: relative;
	z-index: 9;
}
.mobile-container .home-page-title{
	margin:50px auto 30px;
	width: 632px;
	height: 185px;
	background: url("/images/small/mobile_home_page_title.png") no-repeat 0 0;
}
.mobile-container .sheep-img{
	margin: 0 auto;
	width: 219px;
	height: 215px;
	background: url("/images/small/sheep.png") no-repeat 0 bottom;
	background-size: contain;
}
.mobile-container  .main-intro{
	text-align: center;
	margin: 44px auto 70px;
}
.mobile-container .all-small-fonts-style{
	font-size: 2.5rem;
	line-height: 38px;
	font-family:'candelabold'; 
	color: #fff;
	text-align: center;
}
.mobile-container .alert_style {
    position: absolute;
    left: 50%;
    margin-left: -375px;
    top: 50%;
    margin-top: -210px;
}
