<template name="SectionPageNavbarMobile">
<nav class="navbar navbar-default mobile-nav">
        <div class="container-fluid">
          <div class="navbar-header"> 
            <button type="button" class="navbar-toggle collapsed pull-left btn-color" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><!-- sr-only隐藏样式 --> 
            <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
          </div>
          <div class="down-content collapse" id="bs-example-navbar-collapse-1"> 
            <p class="prev-btn" id='closeNavbar'></p>
            <div class="mobile-smalls-logo"> 
              <a href="https://www.facebook.com/cairostale" class="facebook">
                <p>facebook</p> </a>
              <a href="https://twitter.com/cairostale"  class="twitter">
                <p>Twitter</p>
                </a> <a href="https://www.youtube.com/watch?v=8IMcjUVo-jM&index=7&list=PLGz7Ox5Fffae8Bt-3tlITi0kP2dQJZXfS" class='youtube'>
                <p>YouTube</p>
                </a> <a href="http://forum.fedeen.com/viewforum.php?f=3&sid=4741fc6562e56715e85e50973b53436f" class="forun">
                <p>Forum</p>
                </a> <a href="https://fedeen.helpshift.com/a/cairo-s-tale/
"  class='support'>
                <p>Support</p>
            </a> </div>
          </div>
          <!-- /.navbar-collapse --> 
        </div>
        <!-- /.container-fluid --> 
      </nav>

</template>