<template name="SectionPageRewardMobile">
{{>SectionPageNavbarMobile}}
<div class="reuslt-wrap">
	{{>SectionPageHeadMobile}}
	<div class="main-content">
		<div class="fan"></div>
		<section>
			<div class="reward-content">
				<h1></h1>
				<div id='rewardPicture' class="pouch-gold"></div>
				<h2 id='rewardDes' class='pouch-gold'></h2>
			</div>
			{{#if connectPage}}
			{{#if isFBLoaded}}
			{{>yield 'quizComplete'}}
			{{/if}}
			{{else}}
			{{>yield 'quizGetCode'}}
			{{/if}}
			<!-- <div class="loading" ></div> -->
		</section>
	</div>
	
</div>
{{>VideoPopupMobile}}
{{>SectionPageFooter}}
</template>