<template name="SectionPageThanksMobile">
{{>SectionPageNavbarMobile}}
<div class="reuslt-wrap">
	{{>SectionPageHeadMobile}}
	<div class="main-content">
		<div class="thanks-icon"></div>
				<p class='thanks-intro'>Thanks for sharing the quiz! Please<br/>
 check your shared post for more rewards!</p>
			<div class="download-btn-box">
				{{#quizButton btnId="appStoreBtn" themeColor="red" customClass="mobile-small-btn" buttonContent="<p><a href='https://itunes.apple.com/app/id981481859' target='_blank'><img src='/images/small/app_store.png' /></a></p>"}}{{/quizButton}}
				
			</div>
			
		</div>
		
		
	</div>
	
{{>VideoPopupMobile}}
{{>SectionPageFooter}}
</template>