<template name="SectionPageNorewardsMobile">
{{>SectionPageNavbarMobile}}
<div class="onreward-wrap">
	{{>SectionPageHeadMobile}}
	<div class="main-content">
		<h1 class='too-late-title'></h1>
		<p class='onreward-text'>All the codes have been claimed by your friends.<br/>
			If you want another chance to win,<br/>
		TAKE THE QUIZ!</p>
		
		{{#quizButton btnId="shareUpBtn" themeColor="green" customClass="mobile-medium-btn" buttonContent="<p>TAKE THE QUIZ</p>"}}{{/quizButton}}
		{{#quizButton btnId="appStoreBtn" themeColor="red" customClass="mobile-small-btn" buttonContent="<p><img src='/images/small/app_store.png' /></p>"}}{{/quizButton}}
		
		<div class="see-code">
			<h6>See what your friends get:</h6>
			<div>
				<table border="0" cellpadding="0" cellspacing="0" class="code-list">
					<tbody>
						<tr>
							<td class='friend-name'><span>Qianxiu Yi </span></td>
							<td class="received">received: </td>
							<td class='gift-name'><label>a Chest of Diamondsr</label></td>
						</tr>
						<tr>
							<td class='friend-name'><span>Shirley Li </span></td>
							<td class="received">received: </td>
							<td class='gift-name'><label>a Chest of Diamondsr</label></td>
						</tr>
						<tr>
							<td class='friend-name'><span>Qianxiu Yi </span></td>
							<td class="received">received: </td>
							<td class='gift-name'><label>a Chest of Diamondsr</label></td>
						</tr>
						<tr>
							<td class='friend-name'><span>Qianxiu Yi </span></td>
							<td class="received">received: </td>
							<td class='gift-name'><label>a Chest of Diamondsr</label></td>
						</tr>
						<tr>
							<td class='friend-name'><span>Qianxiu Yi </span></td>
							<td class="received">received: </td>
							<td class='gift-name'><label>a Chest of Diamondsr</label></td>
						</tr>
						<tr>
							<td class='friend-name'><span>Qianxiu Yi </span></td>
							<td class="received">received: </td>
							<td class='gift-name'><label>a Chest of Diamondsr</label></td>
						</tr>
						<tr>
							<td class='friend-name'><span>Qianxiu Yi </span></td>
							<td class="received">received: </td>
							<td class='gift-name'><label>a Chest of Diamondsr</label></td>
						</tr>
						<tr>
							<td class='friend-name'><span>Qianxiu Yi </span></td>
							<td class="received">received: </td>
							<td class='gift-name'><label>a Chest of Diamondsr</label></td>
						</tr>
						<tr>
							<td class='friend-name'><span>Qianxiu Yi </span></td>
							<td class="received">received: </td>
							<td class='gift-name'><label>a Chest of Diamondsr</label></td>
						</tr>
						<tr>
							<td class='friend-name'><span>Qianxiu Yi </span></td>
							<td class="received">received: </td>
							<td class='gift-name'><label>a Chest of Diamondsr</label></td>
						</tr>
						
					</tbody>
				</table>
			</div>
		</div>
	</div>
	
</div>
{{>VideoPopupMobile}}
{{>SectionPageFooter}}
</template>