.pc-container .noreward-wrap{
	min-height: 1350px;
	background: url("/images/medium/noreward_bg.jpg") no-repeat center top;
}
.pc-container .too-late-title{
	height: 115px;
	margin: 130px auto 50px;
	background: url("/images/small/too_late.png") no-repeat center top;
}
.pc-container .noreward-wrap p{
	font-size: 2.1rem;
	text-align: center;
	line-height: 36px;
}
.pc-container .noreward-wrap .pc-medium-btn,
.pc-container .noreward-wrap .pc-small-btn{
	float: left;
	margin-left: 10px;
}
