.pc-container .cantent-wrap .result-show {
	position: relative;
	top: -55px;
	z-index: 2;
}

.pc-container .cantent-wrap .fan {
	width: 793px;
	height: 794px;
	position: absolute;
	top: 0px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	z-index: 1;
	background: url("/images/large/fan_bg.png") no-repeat center top;
	opacity: 0.3;
}

.pc-container .you-got {
	margin-left: 336px;
	position: relative;
	z-index: 2;
}

.pc-container .result-show #heroesImg {
	width: 100%;
	height: 460px;
}

.pc-container .result-show #heroesImg.chicken {
	background: url("/images/medium/cluster_cluck.png") no-repeat center 120px;
}

.pc-container .result-show #heroesImg.duck {
	background: url("/images/medium/ductor_quack.png") no-repeat center top;
}

.pc-container .result-show #heroesImg.orangutan {
	background: url("/images/medium/jungle_jim.png") no-repeat center 80px;
}

.pc-container .result-show #heroesImg.frog {
	background: url("/images/medium/yoga_frog.png") no-repeat center 74px;
}

.pc-container .result-show #heroesImg.hammster {
	background: url("/images/medium/hammster.png") no-repeat center 74px;
}

.pc-container .result-show #heroesTitle {
	width: 100%;
	height: 165px;
}

.pc-container .result-show #heroesTitle.chicken {
	background: url("/images/small/cluster_cluck_title.png") no-repeat center top;
}

.pc-container .result-show #heroesTitle.duck {
	background: url("/images/small/ductor_quack_title.png") no-repeat center top;
}

.pc-container .result-show #heroesTitle.orangutan {
	background: url("/images/small/jungle_jim_title.png") no-repeat center top;
}

.pc-container .result-show #heroesTitle.frog {
	background: url("/images/small/yoga_frog_title.png") no-repeat center top;
}

.pc-container .result-show #heroesTitle.hammster {
	background: url("/images/small/hammster_title.png") no-repeat center top;
}

.pc-container .result-show .heroes-intro {
	width: 100%;
	color: #fff;
	font-size: 2.2rem;
	line-height: 38px;
	text-align: center;
}

.btn-content > div {
	margin-bottom: 20px;
}