.pc-container .cantent-wrap .qustion-nav{
	width:837px;
	height:174px;
	background: url("/images/medium/qustion_nav_bg.png") no-repeat center top;
	margin: 0 auto;
	text-align: center;
	color: #fff;
	font-family: 'Arial';
	
}
.pc-container .cantent-wrap .qustion-nav h2{
	 padding-top: 75px;
	 text-shadow:0px 5px 5px #000;
	 font-weight: 900;
}
.pc-container .cantent-wrap .answer-content{
	margin:0 auto;
	width: 835px;
	overflow: hidden;
	color: #fff;
	text-align: center;
	height: 450px;
}
.pc-container .cantent-wrap form p{
	text-align: center;
	font-size: 2.5rem;
	line-height: 26px;
	height: 200px;
}
.pc-container .cantent-wrap .answer-list{
	float: left;
	width: 100%;
}

.pc-container .cantent-wrap .answer-list h1{
	line-height: 65px;
	font-size: 6rem;
	font-weight: 900;
	padding-bottom: 10px;
}
.pc-container .cantent-wrap .qustion-title{
	width: 100%;
	text-align: center;
	font-size: 2.5rem;
	font-weight: 900;
	font-family: 'Arial';
}
.pc-container .cantent-wrap ul.option-part{
	padding-bottom: 50px;
	/* text-align: left; */
}
.pc-container .cantent-wrap ul.option-part li{
	margin:10px auto;
	width: 550px;
	height: 66px;
	line-height: 66px;
	font-size: 2.1rem;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #fff;
	border-radius: 30px;
	cursor: pointer;
	/* padding-left: 40px; */
}

.pc-container .cantent-wrap ul.option-part li:hover,.pc-container .cantent-wrap ul.option-part li.active{
	background-color: #fff;
	border-color: #fff;
	border-radius: 30px;
	color: #290805;
}
.pc-container .cantent-wrap ul.option-part li span{
	padding-right: 27px;
	font-family: 'Arial';
}
