.pc-container .cantent-wrap .qustion-nav{
	width:837px;
	height:174px;
	background: url("/images/medium/qustion_nav_bg.png") no-repeat center top;
	margin: 0 auto;
	text-align: center;
	color: #fff;
	font-family: 'Arial';
	
}
.pc-container .cantent-wrap .qustion-nav h2{
	 padding-top: 75px;
	 text-shadow:0px 5px 5px #000;
	 font-weight: 900;
}
.pc-container .cantent-wrap .answer-content{
	margin:0 auto;
	width: 835px;
	overflow: hidden;
	color: #fff;
	font-family: 'Arial';
}
.pc-container .cantent-wrap .answer-list h1{
	line-height: 65px;
	text-align: center;
	font-size: 6rem;
	font-weight: 900;
}
.pc-container .cantent-wrap .qustion-title{
	width: 100%;
	text-align: center;
	font-size: 2.5rem;
	font-weight: 900;
}