.pc-container .claim-cont{
	min-height: 1200px;
}

.pc-container .claim-code-title{
	margin-top: 97px;
	margin-bottom: 20px;
	height: 120px;
	background: url("/images/small/claim_code_title.png") no-repeat center top;
}