<template name="SectionPageFooter">
	<footer class="footer-box">
		<div class="container">
			<div class="row footer">
				<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
					<p>
					<a href='javascript:;'><img src="images/small/asg_logo.png" width="80px"></a>
					<a href="http://www.fedeen.com/" target="_blank"><img src="images/small/logo_fedeen.png" alt="fedeen-logo" ></a></p>
					<p><a href="http://fedeen.com/privacy" target="_blank"> Privacy Policy </a>| <a href="http://fedeen.com/terms" target="_blank"> Terms of Service </a></p>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 footer-right padTop">© 2015 Fedeen Games All Rights Reserved.</div>
			</div>
		</div>
	</footer>
</template>